@CHARSET "UTF-8";

* {
	color: #333333;
}

h3 {
	margin-left: 3%;
	padding: 2%;
}

span {
	float: right; 
	margin: 0 1px 6px 0; 
	font: -webkit-control;
}

#projectContainer{
	float: right;
	display: block;	
	font: menu;
	
}

	#projectBox{
		background-color: darkGray;
		width: 500px;
		height: 200px;
		border-radius: 20px;
	}

	#projects{
		background-color: lightGrey;
		margin-left: 2%;
		margin-bottom: 1%;
		font: menu;
		width: 96%;
	}
		
	a#icon{
		display: inline-block;
		height: 14px;
	}
	
	div#addUserToProject{
		display: inline-block;
	}
	
.ui-accordion {
	width: 35%;
	margin-top: 2%;
}

div[id=accordion] h3 a {
	background-color: lightgray;
}