@CHARSET "UTF-8";

* {
	color: #333333;
}

h3 {
	margin-left: 3%;
	padding: 2%;
}

span {
	float: right; 
	margin: 0 1px 6px 0; 
	font: -webkit-control;
	font: -moz-desktop;	
}

.hidden{
	display: none;
}

	a#icon{
		display: inline-block;
		height: 14px;
	}
	
	div#addUserToProject{
		display: inline-block;
	}
	
.ui-accordion {
	width: 35%;
	margin-top: 2%;
}

div[id=accordion] h3 a {
	background-color: lightgray;
}

div.draw-graphic{
	-moz-transition: all 1s;
	-webkit-transition: all 1s;	
	width: 95%;
	float: right;
	margin: 1% -7%;
	background-color: rgb(233, 236, 233);
}

div.draw-graphic:FIRST-CHILD{
	margin-top: -5px
}

div.draw-graphic span#projectName{
	float: left;
	margin-left: 10px;
}

div.draw-graphic[id=selected]{
	-moz-transition: all 1s;
	-webkit-transition: all 1s;	
	border: 2px solid gray;
	width: 110%;
}

div.draw-graphic:HOVER{
/* 	-moz-transition: all 1s; */
/* 	width: 115%; */
}

span#create-project {
	position: absolute;
	right: 0;
	bottom: 0;
}

div.config-project {
	position: absolute;
	border: 1px solid lightgray;
	right: 20px;
	top: 220px;	
	width: 59%;
	height: 59%;
}

#chart_div {
	position: absolute;
}

table#geral_user_table {
	margin: 15px 0 0 40px;
	border: 1px solid lightgray;
	border-spacing: 1px;
	font-family: sans-serif;
	font-size: 15px;
}

table#geral_user_table thead tr {
	background-color: lightgray;
}

table#geral_user_table tbody tr:nth-child(2n) {
	background-color: red;
}

.ui-autocomplete-loading { 
	background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat; 
}

.ui-accordion .ui-accordion-content-active {
  overflow: hidden;
  height: 10px;
}

defs#defs{
	width: 0;
}