@CHARSET "UTF-8";

	body {
		font-size: 100.0%;
		font: menu;
	}

	* {
		color: #333;
	}

	#img {
		width: 75%;
	}
 	
 	div#pageContent{
 		border-radius: 8px;
	 	background-color: darkGray;
		height: 95px;
		width: 265px;
		margin-top: 5%;
		float: right;
 	}
 	
 	label[for=senha] {
 		display: none;
 	}
 	
 	#footer{
 		background-color: darkGray;
 		height: 25px;
 		position:fixed; 
 		bottom:0; 
 		left:0;
 		right: 0;
 	}
 	
 	input{
	 	padding: 5%;
		border-radius: 10px;
		width: 93%;
 	}
 	
 	div#newUser{
		background-color: gainsboro;
 		display: inline-block;
 		border-radius: 3px;
 		margin-top: 5%;
	}
 	
 	div#newUser input{
 		padding: 1%;
		border-radius: 3px;
		display: block;
		float: left;
		width: 70%;
		margin-top: 2%;
 	}
 	
 	div#newUser label{
 		display: block;
 		font-weight: normal;
		float: left;
		width: 47px;
		padding-right: 10px;
		margin-top: 3%;
 	}
 	
	label{
 		display: block;
 		font-weight: bold;
		margin-left: 3%;
		width: 90%;
 	}
 	
 	form#addUser {
		margin: 5px;
	}

	button {
		float: right;
		margin-right: 2%;
		margin-bottom: 5px;
		margin-top: 2%;
	}
	
	div #divMessages{
		margin-top: 15%;
		font-size: smaller;
		color: red;
	}

	span.smalltext{
		font-size: smaller;
		line-height: 200%;
	}
	
	#sigin {
		margin: -11% 6%;
	}