@CHARSET "UTF-8";

	body {
		font-size: 100.0%;
		font: menu;
	}

	* {
		color: #333333;
	}

	#img {
		width: 75%;
	}
 	
 	div#pageContent{
 		border-radius: 8px;
	 	background-color: darkGray;
		height: 95px;
		width: 265px;
		margin-top: 5%;
		float: right;
 	}
 	
 	#password{
 		display: none;
 	}
 	
 	#footer{
 		background-color: darkGray;
 		height: 25px;
 		position:fixed; 
 		bottom:0; 
 		left:0;
 		right: 0;
 	}
 	
 	input{
	 	padding: 6%;
		border-radius: 10px;
 	}
 	
 	div#newUser{
 		background-color: darkGray;
 		display: inline-block;
/* 		display: none; */
 		border-radius: 3px;
 		margin-top: 20%;
	}
 	
 	div#newUser input{
 		padding: 1%;
		border-radius: 3px;
		display: block;
		float: left;
 	}
 	
 	div#newUser label{
 		display: block;
 		font-weight: bold;
 		color: #666;
		float: left;
		width: 47px;
		padding-right: 10px;
 	}
 	
 	label{
 		display: table-caption;
		margin-left: 3%;
 	}
 	
 	form#addUser {
		margin: 5px;
	}

	button {
		float: right;
		margin-right: 10px;
		margin-bottom: 5px;
	}