@CHARSET "UTF-8";

	header{
		background-color: lightgray; 
		height: 140px;
	}
	
	div#radio{
		clear: both;
		float: right;
		margin-right: 3%;
		margin-top: 70px;
	}

	span#showUser{
		float: right;
		font-size: large;
		font-weight: bold;
		margin: 2% 1% 0 0;
	}
	
	a:HOVER {
		box-shadow:red;
	}