@CHARSET "UTF-8";

body {
	font-size: 100.0%;
	font: menu;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

#sortable1,#sortable2,#sortable3,#sortable4 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 1%;
	background: grey;
	padding: 0;
	width: 22%;
}

#sortable1 li,#sortable2 li,#sortable3 li,#sortable4 li {
	margin: 1.5%;
	padding: 0;
	width: 96.3%;
	background: buttonface;
	height: 31px;
	text-align: center;
	padding-top: 3%;
}

#create-task{
	margin-left: 5%;
}

#master{
	background-color: #E8E8E8; height: 980px;
}

#menu-lateral{
	background-color: gray; float: left; height: 100%; width: 19%;
}

#project-div{
	background-color: gray; float: right; height: 100%; width:80%;
}

.sortables-console{
	margin-top: 3%; margin-left: 1%; height: 85%; width:97%; background-color: #B5B5B5; float: right;
}

#sortable1{
	margin-left: 9px;
}

li#sortable-title{
	text-align: center; background-color: transparent;
}

b#column-title{
	font-size: large;
}

li#lis-tasks{
	text-align: left;
}