@CHARSET "UTF-8";

body {
	font-size: 100.0%;
	font: menu;
	color: #333333;
}

header {
	background-color: gray;
	border-radius: 2px;
	height: 50px;
	width: 99%;
	margin: 5px;
}

header h3 {
	padding: 10px;
}
section {
	-moz-transition: all 1s;
    float: left;
    height: 88%;
    background-color: gray;
    margin-bottom: 15%;
    margin-left: 0;
    margin-top: 0.7%;
    width: 2%;
}

span.ui-icon {
	margin-top: 250px;
}

section:HOVER {
	-moz-transition: all 2s;
    width: 17%;
    margin-bottom: 0.7%;
    background-color: gray;
    height: 87%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.7%;
}
h3 {
	margin: 5px;
	text-transform: lowercase;
/* 	text-replace: "_", " "; */
}

h3:FIRST-LETTER {
	text-transform: uppercase;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.sortable {
	background: darkgrey;
	margin: 10px 5px;
	border-radius: 2px;	
	float: left;
	padding: 0;
	width: 17%;
}

.divisor {
	overflow: auto;
	max-height: 420px;
}

ul {
	   list-style-type: none;
	-webkit-padding-start: 0;
	   -moz-padding-start: 0;	
			padding-start: 0;
}

.sortable:FIRST-CHILD {
	margin-left: 20px;
}

.sortable li {
	margin: 3px;
	padding: 0;
	background: buttonface;
	height: 45px;
	text-align: left;
	text-indent: 5px;
	border-radius: 2px;
}

.sortable li:HOVER {
	-moz-transform: rotate(2deg);
	border: .2px solid gray; 
}

.sortable li:ACTIVE {
	-moz-transform: rotate(2deg);
}

.create-task{
	text-align: right;
	margin: 20px 5px 4px;
}

.create-task:HOVER{
	background-color: #797575;
}

#project-div{
	background-color: lightgray; 
	position: absolute;
	left: 10px
	right: 10px;
	bottom: 10px;
	top: 5px;
	width:99%;
	border-radius: 10px; 
}
