@CHARSET "UTF-8";

body {
	font-size: 100.0%;
	font: menu;
	color: #333333;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.sortable {
	list-style-type: none;
	background: grey;
	margin: 10px 0;
	float: left;
	padding: 0;
	width: 22%;
}

ul.sortable:FIRST-CHILD {
	margin-left: 10px;
}

ul.sortable li {
	margin: 3px;
	padding: 0;
	width: 96.3%;
	background: buttonface;
	height: 31px;
	text-align: left;
	border: 1px solid buttonface;
	padding-top: 3%;
	border-radius: 5px;
}

ul li.sortable-title{
	text-align: center; 
	background-color: transparent;
	border: 1px solid lightgray;
	font-size: large;
}

#create-task{
	margin-left: 5%;
}

#project-div{
	background-color: gray; 
	position: absolute;
	right: 10px;
	bottom: 10px;
	top: 10px;
	width:80%;
	border-radius: 10px; 
}

project-div.ui-sortable-helper {
	width: 1px;
	height: 1px;
}